/**
 * woocommerce-layout.scss
 * Applies layout to the default WooCommerce frontend design
 */

/**
 * Styling begins
 */
.woocommerce
//.woocommerce-page
{
  p {
    margin-bottom: 1rem;
  }

	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		.button {
			float: right;
		}
	}

	/**
	 * General layout styles
	 */
	.col2-set {
		//@include clearfix();
		//width: 100%;
    //
		//.col-1 {
		//	float: left;
		//	width: 48%;
		//}
		//.col-2 {
		//	float: right;
		//	width: 48%;
		//}
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: $woocommerce-col2set-grid-gap;
	}

	img {
		//height: auto;
		//max-width: 100%;
	}

	/**
	 * Product page
	 */
	div.product,
	#content div.product {
    display: grid;
    grid-gap: $woocommerce-product-grid-gap;
    grid-template-columns: 1fr;
    grid-template-areas: "images"
                         "content"
                         "tabs";
    @include from($woocommerce-smallscreen-breakpoint) {
      grid-template-columns: minmax(180px, 400px) 1fr;
      grid-template-areas: "images content"
                           "tabs   tabs";
    }

		div.images {
      grid-area: images;

		}

		div.summary {
      grid-area: content;
			//float: right;
			//width: 48%;
			//clear: none;
		}

    .woocommerce-product-details__short-description {
      @extend .content !optional;
    }

    .single_add_to_cart_button {
      @extend .button.is-primary;
    }

		.woocommerce-tabs {
      grid-area: tabs;

			ul.tabs {
				@include menu();
			}
		}

		#reviews {
			.comment {
				@include mediaright();
			}
		}
	}

  .woocommerce-product-gallery__wrapper {
    display: grid;
    grid-gap: $woocommerce-product-gallery-gap;
    grid-template-columns: repeat($woocommerce-product-gallery-columns, 1fr);
  }

  .woocommerce-product-gallery__image {
    &:first-child {
      grid-column: span $woocommerce-product-gallery-columns;
    }
    img {
      display: block;
      width: 100%;
    }
  }

	/**
	 * Product loops
	 */
	ul.products {
    clear: both;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: $woocommerce-products-grid-gap;

		li.product {
			padding: 0;
			position: relative;
		}
	}

	.woocommerce-result-count {
		float: left;
	}
	.woocommerce-ordering {
    @extend .select !optional;
		float: right;
	}

	.woocommerce-pagination {
		ul.page-numbers {
			@include menu();
		}
	}

	/**
	 * Cart page
	 */
	table.cart,
	#content table.cart {
		img {
			height: auto;
		}

		td.actions {
			text-align: right;

			.input-text {
				width: 80px;
			}

			.coupon {
				float: left;

				label {
					display: none;
				}
			}
		}
	}

	.cart-collaterals {
		@include clearfix();
		width: 100%;

		.related {
			width: 30.75%;
			float: left;
		}

		.cross-sells {
			width: 48%;
			float: left;

			ul.products {
				float: none;

				li {
					width: 48%;
				}
			}
		}

		.shipping_calculator {
			width: 48%;
			@include clearfix();
			clear: right;
			float: right;

			//.col2-set {
			//	.col-1,
			//	.col-2 {
			//		width: 47%;
			//	}
			//}
		}

		.cart_totals {
			float: right;
			width: 48%;
		}
	}

	/**
	 * Cart sidebar
	 */
	ul.cart_list,
	ul.product_list_widget {
		li {
			//@include mediaright();
		}
	}

	/**
	 * Forms
	 */
	form {
		.form-row {
			//@include clearfix();

			label {
				display: block;

				&.checkbox {
					display: inline;
				}
			}

			//select {
			//	width: 100%;
			//}
      //
			//.input-text {
			//	box-sizing: border-box;
			//	width: 100%;
			//}
		}

		//.form-row-first,
		//.form-row-last {
		//	width: 47%;
		//	overflow: visible;
		//}

		.form-row-first {
			//float: left;

			/*rtl:raw:
			float: right;
			*/
		}

		//.form-row-last {
		//	float: right;
		//}
    //
		//.form-row-wide {
		//	clear: both;
		//}
	}

	#payment {
		//.form-row {
		//	select {
		//		width: auto;
		//	}
		//}

	}

  .wc-terms-and-conditions, .terms {
    text-align: left;
    padding: 0 1em 0 0;
    //float:left;
  }

  #place_order {
    margin-top: 1rem;
    &.button {
      @extend .button.is-primary;
    }
  }

	.woocommerce-terms-and-conditions {
		margin-bottom: 1.618em;
		padding: 1.618em;
	}

	/**
	 * oEmbeds
	 */
	.woocommerce-oembed {
		position: relative;
	}
}

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: left;
		width: $woocommerce-account-sidebar-width;

	}

	.woocommerce-MyAccount-content {
		float: right;
		width: calc(100% - #{$woocommerce-account-sidebar-width} - #{$woocommerce-account-gap-width});

    h3 {
      @extend .title !optional;
      @extend .title.is-4 !optional;
    }
	}
}

.woocommerce-MyAccount-navigation-link.is-active {
  > a {
    color: $body-color;
  }
}

/**
  Custom added styles
 */
.woocommerce-EditAccountForm,
.woocommerce-address-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper {
  display: grid;
  grid-gap: $woocommerce-forms-grid-gap;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 1rem;
  grid-auto-flow: dense;

  > * {
    grid-column: span 12;
  }

  legend {
    @extend .title !optional;
    @extend .title.is-4 !optional;
  }

  .clear {
    display: none;
  }

  .button {
    @extend .button.is-primary !optional;
  }
}


@include from($woocommerce-smallscreen-breakpoint) {
  #billing_first_name_field,
  #shipping_first_name_field {
    grid-column: span 6;
  }

  #billing_last_name_field,
  #shipping_last_name_field {
    grid-column: span 6;
  }

  #billing_postcode_field,
  #shipping_postcode_field {
    grid-column: span 4;
  }

  #billing_city_field,
  #shipping_city_field {
    grid-column: span 8;
  }

  #billing_phone_field,
  #shipping_phone_field {
    grid-column: 7 / -1;
  }

  #billing_email_field,
  #shipping_email_field {
    grid-column: 1 / 7;
  }
}


/**
 * RTL styles.
 */
.rtl {
	.woocommerce
  //.woocommerce-page
  {
    direction: rtl;
	}
}
