/**
 * WooCommerce CSS Variables
 */

$small: 576px !default;

$woocommerce-color: #a46497 !default;
$woocommerce-green-color: $success !default;
$woocommerce-red-color: $danger !default;
$woocommerce-orange-color: $warning !default;
$woocommerce-blue-color: $info !default;

$woocommerce-primary-color: $primary !default; // Primary color for buttons (alt)
$woocommerce-primarytext-color: $white !default; // Text on primary color bg

$woocommerce-secondary-color: $secondary !default; // Secondary buttons
$woocommerce-secondarytext-color: $white !default; // Text on secondary color bg


$woocommerce-content-background-color: $white !default; // Content BG - Tabs (active state)
$woocommerce-subtext-color: $body-color !default; // small, breadcrumbs etc

$woocommerce-highlight-color: $primary !default;

$woocommerce-onsale-background-color: $woocommerce-primary-color !default;
$woocommerce-onsale-color: #fff !default;
$woocommerce-onsale-size: 4em;
$woocommerce-onsale-font-size: .9em;

$woocommerce-star-visible-color: $primary !default;
$woocommerce-star-background-color: $grey-lighter !default;


$woocommerce-col2set-grid-gap: 2rem !default;

$woocommerce-products-grid-gap: 2rem !default;

$woocommerce-product-grid-gap: 2rem !default;

//$woocommerce-border-default: 1px solid rgba(0, 0, 0, 0.1) !default;
$woocommerce-border-default: 1px solid $grey-lighter !default;

$woocommerce-box-border-color: $white-bis !default;

$woocommerce-smallscreen-breakpoint: $small !default;

$woocommerce-payment-color: $body-color !default;
$woocommerce-payment-background-color: $white-bis !default;

$woocommerce-payment-box-color: $woocommerce-primarytext-color !default;
$woocommerce-payment-box-background-color: $woocommerce-primary-color !default;

$woocommerce-required-color: $woocommerce-red-color !default;


$woocommerce-forms-grid-gap: 1rem !default;

$woocommerce-account-sidebar-width: 150px !default;
$woocommerce-account-gap-width: 1rem !default;

$woocommerce-product-gallery-gap: 1rem !default;
$woocommerce-product-gallery-columns: 4 !default;

$woocommerce-comments-avatar-size: 64px !default;
