/**
 * WooCommerce CSS Variables
 */

$woocommerce-color: #a46497 !default;
$woocommerce-green-color: $success !default;
$woocommerce-red-color: $danger !default;
$woocommerce-orange-color: $warning !default;
$woocommerce-blue-color: $info !default;

$woocommerce-primary-color: $primary !default; // Primary color for buttons (alt)
$woocommerce-primarytext-color: $white !default; // Text on primary color bg

$woocommerce-secondary-color: $woocommerce-primary-color !default; // Secondary buttons
$woocommerce-secondarytext-color: $white !default; // Text on secondary color bg


$woocommerce-content-background-color: $white !default; // Content BG - Tabs (active state)
$woocommerce-subtext-color: $body-color !default; // small, breadcrumbs etc

$woocommerce-highlight-color: $primary !default;

$woocommerce-onsale-background-color: $woocommerce-primary-color !default;
$woocommerce-onsale-color: #fff !default;
$woocommerce-onsale-size: 4em;
$woocommerce-onsale-font-size: .9em;

$woocommerce-star-visible-color: $primary !default;
$woocommerce-star-background-color: $grey !default;


$woocommerce-col2set-grid-gap: 2rem !default;

$woocommerce-products-grid-gap: 2rem !default;


$woocommerce-box-border-color: $white-bis !default;


