$navbar-cart-breakpoint: $tablet !default;
$navbar-cart-icon-size: 1.35rem !default;

.navbar {
  &.is-cart {
    .navbar-burger {
      margin-left: initial;
    }
  }
}

.navbar-cart {
  align-items: stretch;
  display: none;
  @include until($navbar-cart-breakpoint) {
    &.is-mobile {
      display: flex;
      margin-left: auto;
    }
  }
  @include from($navbar-cart-breakpoint) {
    &.is-desktop {
      display: flex;
    }
  }
}

.navbar-cart {
  .navbar-dropdown {
    padding: $spacer;
    font-family: $family-primary;
  }
}

.navbar-cart-icon {
  font-size: $navbar-cart-icon-size;
}

.navbar-cart-count {
  color: $woocommerce-primary-color;
  margin-left: 0.5rem;
  font-family: $family-primary;
  font-weight: bold;
}


